.layout {
    display: flex;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.tabname {
    color: white;
}