.layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 50px;
}

.username {
    display: flex;
    flex-direction: row;
}

.fieldName {
    font-size: medium;
}

.createWalletButton {
    margin-top: 40px;
    max-width: 200px;
}